__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
dist/
*.egg-info/
*.eggs/

pip-log.txt
pip-delete-this-directory.txt

venv/
ENV/
env/
.venv/
.idea/

.vscode/

.DS_Store

*.egg

.ipynb_checkpoints/

.cache/

*.cover
*.coverage
*.coverage.*
nosetests.xml
coverage.xml
*.hypothesis/

.pyre/

.mypy_cache/

pylint-report.txt
pylint-global-config.yaml

dataset/